/* Existing CSS code */
body {
  color: #8290b8; /* Very light gray text */
  text-align: center;
  font-size: 1.6rem;
  background-color: #e6f7ff; /* Icy blue background */
  font-family: Arial, sans-serif; /* Clean sans-serif font */
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 80%;
}

table th {
  padding: 0.8rem;
  color: #7fbfff; /* Light blue */
}

table td {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #f0f8ff; /* Light blue-gray */
  font-size: 1.6rem;
}


a {
  font-size: 2rem;
  text-decoration: none;
  color: #7fbfff; /* Light blue */
}

/* New styles for the form */
form {
  margin-top: 3rem; /* Spacing from the table */
}

input[type="text"] {
  padding: 0.5rem;
  width: 100%; /* Set width to 100% for responsiveness */
  max-width: 600px; /* Set maximum width */
  font-size: 1.6rem;
  border: 2px solid #7fbfff; /* Light blue border */
  border-radius: 5px;
}

input[type="submit"] {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: #7fbfff; /* Light blue background */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #add8e6; /* Lighter blue on hover */
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  body {
    font-size: 1.4rem; /* Adjust font size for smaller screens */
  }
  .paint,.mic{font-size:2rem;}
}
