<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <title>Task</title>
    <style>
        .paint {position:absolute;right:0;top:0;font-size:4rem;}
        .mic {position:absolute;left:0;top:0;font-size:4rem;}
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    {% if theme %}
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/' + theme) }}">
    {% endif %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
