<!-- index.html -->

{% extends 'base.html' %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}

{% if theme == 'theme2.css' %}
<h1>🐻TASK-DO🐻</h1>
{% elif theme == 'theme3.css' %}
<h1>☃️TASK-DO☃️</h1>
{% elif theme == 'theme4.css' %}
<h1>🐼TASK-DO🐼</h1>
{% else %}
<h1>🐇TASK-DO🐇</h1>
{% endif %}

<a href="/set_theme" class="paint">🎨</a>
<a href="/mic_on" class="mic">🎤</a>

{% if tasks|length < 1 %}
<h3>No tasks currently added. Click on add to add one.</h3>
{% else %}
<table>
    <tr>
        <th>Status</th>
        <th>Task</th>
        <th>Actions</th>
    </tr>
    {% for task in tasks %}
    <tr>
        {% if task.completed <= 0 %}
        <td><a href="/completed/{{ task.id }}">⬜</a></td>
        <td>{{ task.content }}</td>
        {% else %}
        <td><a href="/not-completed/{{ task.id }}">✅</a></td>
        <td style="text-decoration: line-through;">{{ task.content }}</td>
        {% endif %}
        <td style="font-size:small;">
            <a href="/delete/{{ task.id }}">❌</a>
            <a href="/update/{{ task.id }}">🔄</a><br>
            {{ task.date_created.date() }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<form action="/" method="POST">
    <input type="text" name="content" id="content">
    <input type="submit" value="Add Task">
</form>

{% endblock %}
